
  body {
    margin: 0;
    background-color: #5cdb95
  }
  
  .heading {
    font-family: 'karla', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    font-weight: bold;    
}

.link {
  text-decoration: none;
  font-size: 24px;
  color: #edf5e1;
  transition: 250ms;
}

.link:hover {
  color: #379683;
  cursor: pointer;
}


.title {
  color: #edf5e1;
  font-size: 50px;
  letter-spacing: -5px;
  text-decoration: underline;
  padding: 0 10px 5px 5px;

  
}

@media only screen and (max-width: 500px) {
  .title{
    font-size: 10vw;
  }
}

input {
  text-anchor: start;
  margin: 10xp;
}

form {
  display:flex;
  width: 300px;
  flex-direction: column;
}

.formContent {
  height: 100px;
}

.formTitle {
  height: 24px;
}


.underline {
  display: inline-block;
}

.underline:after {
  display: inline-block;
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: .5s;  
}

.underline:hover:after {
  width: 100%;
}






